*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero_new__video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
}

header{
    width: 100%;
}

.navigatie{
    position: relative;
    z-index: 1;
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 20px;
}
.pagina3{
    margin-top: 20px;
}

.pagina3 a{
    background: red;
    border-radius: 25px;
    padding: 5px 25px;
    color: black;
    text-align: center;
    font-weight: bold;
    text-decoration: none;

}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    display: inline-block;

}

nav ul li a {
    display:flex;
    text-decoration: none;
    color: white;
    padding: 20px 10px;
    font-size: 14pt;
}



