*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigatie{
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.pagina3{
    margin-top: 20px;
}

.pagina3 a{
    background: red;
    border-radius: 25px;
    padding: 5px 25px;
    color: black;
    text-align: center;
    font-weight: bold;
    text-decoration: none;

}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;

}
/*Met witte tekstkleur en witte achtergrond zijn mijn aanpassingen niet zichtbaar./*
 */
nav ul li a {
    display:flex;
    text-decoration: none;
    color: black;
    padding: 20px 10px;
    font-size: 14pt;
}



